body{
  background-color: forestgreen;
}
h1{
  color: azure;
  text-align: center
}
.grid-item {
  background-color: rgba(255, 255, 255, 0.8);
  text-align: center;
  padding: 20px;
  font-size: 30px;
}
.nav{
  float: left;
  display: block;
  color: #f2f2f2;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}
.nav:hover {
  background-color: #ddd;
  color: black;
}
@media screen and (max-width: 600px) {
  .nav  {
    float: none;
    width: 100%;
  }
}

p{
  color:blue;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  font-size: 20px;
}
table{border-collapse: collapse;}
ol {
  background: blue;
  padding: 20px;
}

ol li{ background: lightblue;
  padding: 5px;
  margin-left: 35px;}
td{ background: grey;
font-family: serif }

